/* CSS Document */

.nav {
    background-color: lightblue;
    display: flex;
}

.nav-item {
    margin-top: 7px;
}

.nav-item.i img {
    width: 90px;
    margin-left: 10px;
}

.nav-item.title {
    font-size: 40px;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 22px;
    font-weight: bold;
}

.nav-item a:link {text-decoration: none; color: black; font-style: italic;
}
.nav-item a:visited {text-decoration: none; color: black; font-style: italic;
}
.nav-item a:active {text-decoration: none; color: black; font-style: italic;
}
.nav-item a:hover {text-decoration: none; color: black; font-style: normal;
}

.time {
    margin-top: 10px;
    text-align: center;
}
.time .main-time {
    font-size: 23px;
    background-color: lightgreen;
}

.time .sub-time {
    text-align: center;
    margin-top: 10px;
    margin-left: 29%;
    margin-right: auto;
    border: 1.5px solid #dedede;
    width: 170px;
    height: 50px;
    line-height: 50px;
    color: #666;
    font-size: 25px;
    text-align: center;
}

.main {
    text-align: center;
}
.class {
    margin-top: 15px;
}

.classina {
    font-size: 25px;
    font-weight: bold;
}
.class.num {
    margin-top: 15px;
}

.class.num input[type="number"] {
    width: 35px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
.class.num input[type="button"] {
    width: 40px;
    height: 35px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
    font-size: 15spx;
    font-weight: bold;
    color: rgb(0, 0, 255);
}
.class.num input[type="button"]:hover {
    background-color: darkgray;
    transition: all linear 0ms;
}

.자가진단 {
    margin-top: 80px;
}
.자가진단 .title {
    font-size: 25px;
    font-weight: bold;
}
.자가진단 .link img {
    width: 350px;
}

.남일줌 {
    margin-top: 80px;
}
.남일줌 .title {
    font-size: 25px;
    font-weight: bold;
}
.남일줌 .link img {
    width: 5%;
}

.학교홈페이지 {
    margin-top: 100px;
}
.학교홈페이지 .title {
    font-size: 25px;
    font-weight: bold;
}
.학교홈페이지 .link img {
    width: 350px;
}

.ebsclass {
    margin-top: 100px;
}
.ebsclass .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ebsclass .subtitle {
    font-size: 14px;
}
.ebsclass .subtitle .titlebold {
    font-size: 16px;
    font-weight: bold;
}
.ebsclass .link img {
    width: 350px;
}

.급식 {
    margin-top: 100px;
}
.급식 .title {
    font-size: 25px;
    font-weight: bold;
}
.급식 .link img {
    width: 350px;
}

.시험시간표 {
    margin-top: 100px;
}
.시험시간표 .title {
    font-size: 25px;
    font-weight: bold;
}
.시험시간표 .link img {
    width: 350px;
}